.about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    padding: 1rem;
    color: black;
    border-bottom: black solid 1px;
    box-shadow: 0px 4px #FA9005;
  }
  
 
  #portrait{
    box-shadow: 10px 10px #FA9005;
    display: flex;
    height: 300px;
    width: 300px;
    margin: 0px auto 50px auto;
  
  }
  

  @media only screen and (min-width: 993px) {
    .about-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: flex-start;
      position: relative;
      padding: 1rem;
      color: black;
      border-bottom: black solid 1px;
      margin-top: 10%;
      margin-bottom: 5%;
      margin-left: 10%;
      margin-right: 10%;
    }
    #contactwords{
      width: 30%;
    }
    form{
      width: 30%;
      height: 100%;
    }
    #portrait {
      box-shadow: 10px 10px #fa9005;
      display: flex;
      height: 300px;
      width: 300px;
      margin-right: 5%;
    }
  }